<!DOCTYPE html>
<html ng-app="sunsetApp">

<head>
    <title>Solnedgang</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/moment.js"></script>
    <script type="text/javascript" src="assets/js/countdown.min.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

  <body>
    
    <main ng-controller="timeController">

    <div class="menu text-light">
      
            <!-- Solopgang knap !-->
            <div class="hideShow" ng-show="sunrise">
          <h1 class="text-center">Solopgang<br>{{dataset.results.sunrise | date: "HH:mm"}}</h1>
      </div>
      <button ng-click="sunrise= !sunrise" ng-show="!sunrise" type="button" class="btn btn-info">Solopgang</button>
      <button ng-click="sunrise= !sunrise" ng-show="sunrise" type="button" class="btn btn-info">Skjul</button>
         <!-- Solopgang knap !-->
         
         <!-- Solnedgang knap !-->
         <div class="hideShow" ng-show="sunset">
          <h1 class="text-center">Solnedgang<br>{{dataset.results.sunset | date: "HH:mm"}}</h1>
      </div>
      <button ng-click="sunset= !sunset" ng-show="!sunset" type="button" class="btn btn-info">Solnedgang</button>
      <button ng-click="sunset= !sunset" ng-show="sunset" type="button" class="btn btn-info">Skjul</button>
        <!-- Solnedgang knap !--> 
         
         <!-- Middag knap !-->
         <div class="hideShow" ng-show="solar_noon">
          <h1 class="text-center">Middag<br>{{dataset.results.solar_noon | date: "HH:mm"}}</h1>
      </div>
      <button ng-click="solar_noon= !solar_noon" ng-show="!solar_noon" type="button" class="btn btn-info">Middag</button>
      <button ng-click="solar_noon= !solar_noon" ng-show="solar_noon" type="button" class="btn btn-info">Skjul</button>
      <!-- Middag knap !-->

    </div>    
     
    <section id="night">
        <img src="assets/image/sm.svg">
    </section>

        <!--
      {{ dataset.results.sunset | date: 'HH:mm:ss' }}<br>
      {{ dataset.results.sunrise | date: 'HH:mm:ss' }}<br><br>

      {{ dataset.results.sunset | date: 'yyyy-MM-dd HH:mm:ss' }}<br>
      {{ dataset.results.sunrise | date: 'yyyy-MM-dd HH:mm:ss' }}<br><br>
        -->

    </main>

<script type="text/javascript">

    setInterval(
      
      function(){
        percentage()
      },

      1000);

</script>

</body>

</html>