body {
	margin: 0;
}

section#night {
	background-color: #000;
	height: 100vh;
	position: relative;
}

section#night img {
	position: absolute;
	max-width: 250px;
	right: -155px;
	top: 50%;
	transform: translate(0%, -50%)
}